[submodule "Vendor/GLFW"]
	path = Vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Vendor/Assimp"]
	path = Vendor/Assimp
	url = https://github.com/assimp/assimp.git
[submodule "Vendor/Soil"]
	path = Vendor/Soil
	url = https://github.com/littlstar/soil.git

[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm.git
